

.main {
    padding: 1rem;
}
.cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car {
    border: 1px #404040 solid;
    margin: 1rem;
}

.car img {
    width: 100%;
    max-width: 400px

}
.button {
    max-height: 10px;

}
